<!-- Pricing section Start --> 
<section id="pricing" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Pricing Table</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="pricing-table-item">
          <div class="plan-name">
            <h3>Basic</h3>
          </div>
          <div class="plan-price">
            <div class="price-value">$ 10</div>
            <div class="interval">per month</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-check"></i>2GB Disk Space</li>
              <li><i class="fa fa-check"></i>3 Sub Domains</li>
              <li><i class="fa fa-check"></i>12 Database</li>
              <li><i class="fa fa-check"></i>Unlimited Users</li>
            </ul>
          </div>
          <div class="plan-signup">
            <a href="#" class="btn btn-common">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="pricing-table-item table-active">
          <div class="plan-name">
            <h3>Premium</h3>
          </div>
          <div class="plan-price">
            <div class="price-value">$ 69 </div>
            <div class="interval">per month</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-check"></i>10GB Disk Space</li>
              <li><i class="fa fa-check"></i>5 Sub Domains</li>
              <li><i class="fa fa-check"></i>12 Database</li>
              <li><i class="fa fa-check"></i>Unlimited Users</li>
            </ul>
          </div>
          <div class="plan-signup">
            <a href="#" class="btn btn-common">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="pricing-table-item">
          <div class="plan-name">
            <h3>Unltimate</h3>
          </div>
          <div class="plan-price">
            <div class="price-value">$ 79 </div>
            <div class="interval">per month</div>
          </div>
          <div class="plan-list">
            <ul>
              <li><i class="fa fa-check"></i>50GB Disk Space</li>
              <li><i class="fa fa-check"></i>20 Sub Domains</li>
              <li><i class="fa fa-check"></i>36 Database</li>
              <li><i class="fa fa-check"></i>Unlimited Users</li>
            </ul>
          </div>
          <div class="plan-signup">
            <a href="#" class="btn btn-common">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pricing Table Section End -->