<!-- Portfolio Section -->
<section id="portfolio" class="section-padding">
  <!-- Container Starts -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Portfolio</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <!-- Portfolio Controller/Buttons -->
        <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
          <a class="filter active btn btn-common" data-filter="all">
            All 
          </a>
          <a class="filter btn btn-common" data-filter=".branding">
            Branding 
          </a>
          <a class="filter btn btn-common" data-filter=".marketing">
            Marketing
          </a>
          <a class="filter btn btn-common" data-filter=".planning">
            Planning 
          </a>
          <a class="filter btn btn-common" data-filter=".research">
            Research 
          </a>
        </div>
        <!-- Portfolio Controller/Buttons Ends-->
      </div>

      <!-- Portfolio Recent Projects -->
      <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing planning">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="../assets/img/portfolio/img1.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>TITLE HERE</h4>
                    </a>
                    <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix branding planning">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="../assets/img/portfolio/img2.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>TITLE HERE</h4>
                    </a>
                    <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix branding research">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="../assets/img/portfolio/img3.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>TITLE HERE</h4>
                    </a>
                    <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing research">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="../assets/img/portfolio/img4.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>TITLE HERE</h4>
                    </a>
                    <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix marketing planning">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="../assets/img/portfolio/img5.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>TITLE HERE</h4>
                    </a>
                    <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 mix planning research">
          <div class="portfolio-item">
            <div class="portfolio-img">
              <img src="../assets/img/portfolio/img6.jpg" alt="" />
            </div>
            <div class="portfoli-content">
              <div class="sup-desc-wrap">
                <div class="sup-desc-inner">
                  <div class="sup-link">
                    <a class="left-link" href="#"><i class="fa fa-link"></i></a>
                    <a class="right-link" href="#"><i class="fa fa-heart"></i></a>
                  </div>
                  <div class="sup-meta-wrap">
                    <a class="sup-title" href="#">
                      <h4>TITLE HERE</h4>
                    </a>
                    <p class="sup-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente vel quisquam.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->