<!-- Single testimonial Start -->
<div class="single-testimonial-area">
  <div class="container">
    <div id="single-testimonial-item" class="owl-carousel">
      <!-- Single testimonial Item -->
      <div class="item">
        <div class="row justify-content-md-center">
          <div class="col-lg-8 col-md-12 col-xs-12 col-md-auto">
            <div class="testimonial-inner text-md-center">
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus
              </blockquote>
              <div class="testimonial-images">
                <img class="img-circle text-md-center" src="../assets/img/testimonial/img1.jpg" alt="">
              </div>
              <div class="testimonial-footer">
                <i class="fa fa-user"></i> Arman
                <a href="#"> UIdeck</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single testimonial Item -->
      <div class="item">
        <div class="row justify-content-md-center">
          <div class="col-lg-8 col-md-12 col-xs-12 col-md-auto">
            <div class="testimonial-inner text-md-center">
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus
              </blockquote>
              <div class="testimonial-images">
                <img class="img-circle text-md-center" src="../assets/img/testimonial/img2.jpg" alt="">
              </div>
              <div class="testimonial-footer">
                <i class="fa fa-user"></i> Jeniffer
                <a href="#"> GrayGrids</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Single testimonial Item -->
      <div class="item">
        <div class="row justify-content-md-center">
          <div class="col-lg-8 col-md-12 col-xs-12 col-md-auto">
            <div class="testimonial-inner text-md-center">
              <blockquote>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus
              </blockquote>
              <div class="testimonial-images">
                <img class="img-circle text-md-center" src="../assets/img/testimonial/img3.jpg" alt="">
              </div>
              <div class="testimonial-footer">
                <i class="fa fa-user"></i> Elon Musk<a href="#"> Tesla</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->